@page
@model TorneoFutbolistico.App.Frontend.Pages.DirectoresTecnicos.IndexModel
@{
}
<h1>Listado de DirectoresTecnicos</h1>
<td>
                <a class="btn btn-primary" asp-page="./Create" >Nuevo Director Tecnico</a>
                <table class="table"></table>
              </td>          
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var DirectorTecnico in Model.DirectoresTecnicos)
      {
          <tr>
              <td>@DirectorTecnico.Nombre</td>
              <td>@DirectorTecnico.Apellidos</td>
              <td>@DirectorTecnico.NumeroTelefono</td>
              <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@DirectorTecnico.id">
                  Detalle
                </a>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@DirectorTecnico.id">Editar</a>
              </td>
          </tr>
      }
  </tbody>
</table>