@page
@model TorneoFutbolistico.App.Frontend.Pages.Arbitros.IndexModel
@{
}
<form method="get">
  <div class="form-group">
    <label for="b">Buscar</label>
    <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
  </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<h1>Listado de Arbitros</h1>
@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary" asp-page="./Create" >Nuevo Arbitro</a>
}
<td>
<td>
                @*<a class="btn btn-primary" asp-page="./Create" >Nuevo Arbitro</a>*@
                <table class="table"></table>
              </td>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">NumeroTelefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var Arbitro in Model.Arbitros)
      {
          <tr>
              <td>@Arbitro.Nombre</td>
              <td>@Arbitro.Apellidos</td>
              <td>@Arbitro.NumeroTelefono</td>
              <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Arbitro.id">Detalle</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Arbitro.id">Editar</a>
                }
                @*<a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Arbitro.id">Editar</a>*@
              </td>
          </tr>
      }
  </tbody>
</table>