@page
@model TorneoFutbolistico.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Listado de Jugadores</h1>
<td>
                <a class="btn btn-primary" asp-page="./Create" >Nuevo Jugador</a>
                <table class="table"></table>
              </td>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">NumeroTelefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var Jugador in Model.Jugadores)  
      {
          <tr>
              <td>@Jugador.Nombre</td>  
              <td>@Jugador.Apellidos</td>  
              <td>@Jugador.NumeroTelefono</td>   
              <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Jugador.id">Detalle</a>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Jugador.id">Editar</a>
              </td>
          </tr>
      }
  </tbody>
</table>