@page
@model TorneoFutbolistico.App.Frontend.Pages.Partidos.DetailsModel
@{
}
<h1>Detalles Partidos</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">FechaHora</th>
        <td>@Model.partido.FechaHora</td>
    </tr>
    <tr>
        <th scope="col">EquipoLocal</th>
        <td>@Model.partido.EquipoLocal</td>
    </tr>
    <tr>
        <th scope="col">MarcadorLocal</th>
        <td>@Model.partido.MarcadorLocal</td>
    </tr>
    <tr>
        <th scope="col">EquipoVisitante</th>
        <td>@Model.partido.EquipoVisitante</td>
    </tr>
    <tr>
        <th scope="col">MarcadorVisitante</th>
        <td>@Model.partido.MarcadorVisitante</td>
    </tr>
    <tr>
        <th scope="col">Estadio</th>
        @if(Model.partido.Estadio == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddEstadio" asp-route-Id="@Model.partido.Id">Asignar Estadio</a>
            </td>
        }
        else
        {
            <td>@Model.partido.Estadio.NombreEstadio</td>
        }
    </tr>
    <tr>
        <th scope="col">Arbitro</th>
        @if(Model.partido.Arbitro == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddArbitro" asp-route-Id="@Model.partido.Id">Asignar Arbitro</a>
            </td>
        }
        else
        {
            <td>@Model.partido.Arbitro.Nombre</td>
        }
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>