@page
@model TorneoFutbolistico.App.Frontend.Pages.Partidos.IndexModel
@{
}
<form method="get">
  <div class="form-group">
    <label for="b">Buscar</label>
    <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
  </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<h1>Lista de Partidos</h1>
@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary" asp-page="./Create" >Nuevo Partido</a>
}
<td>
                @*<a class="btn btn-primary" asp-page="./Create" >Nuevo Partido</a>*@
                <table class="table"></table>
              </td>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">EquipoLocal</th>
      <th scope="col">MarcadorLocal</th>
      <th scope="col">EquipoVisitante</th>
      <th scope="col">MarcadorVisitante</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var Partido in Model.Partidos)
      {
          <tr>
              <td>@Partido.EquipoLocal</td>
              <td>@Partido.MarcadorLocal</td>
              <td>@Partido.EquipoVisitante</td>
              <td>@Partido.MarcadorVisitante</td>
              <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-Id="@Partido.Id">
                  Detalle
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Partido.Id">Editar</a>
                }
                @*<a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Partido.Id">Editar</a>*@
              </td>
          </tr>
      }
  </tbody>
</table>